<div class="main-panel">
    <div class="content-wrapper">
        <!-- ------------------------------ -->


        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- <div class="page-breadcrumb">
                <div class="row">
                    
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title"> SẢN PHẨM</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/admin">Trang chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Danh sách sản phẩm</h5> -->


                                <div class="table-responsive">
                                    <table border="1" id="" class="table-product">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên</th>
                                                <th>Hình ảnh</th>
                                                <th>Giá</th>
                                                <th>Giá giảm</th>
                                                <th>Mô tả</th>
                                                <th class="">Trạng thái</th>

                                                <th>
                                                    <div class="d-flex justify-content-center align-items-center gap-2">

                                                        <a class="btn btn-custom text-white bg-primary"
                                                            routerLink="/ui-components/add-product"> Thêm sản phẩm</a>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let p of list">
                                                <td>
                                                    {{p.id}}
                                                </td>
                                                <td>
                                                    {{p.title}}
                                                </td>

                                                <td>

                                                    <img id="image" [src]="p.images" alt="Ảnh danh mục">


                                                </td>
                                                <td> {{p.price}}</td>
                                                <td> {{p.salePrice}}</td>
                                                <td id="fix"> {{p.description}}</td>
                                                <td class="text-primary" *ngIf="p.status == 1">
                                                    Hiện
                                                </td>
                                                <td class="text-danger" *ngIf="p.status == 0">
                                                    Ẩn
                                                </td>








                                                <td class="d-flex justify-content-center align-items-center gap-2">
                                                    <a routerLink="/ui-components/edit-product"
                                                        class="btn btn-primary  ">Sửa</a>
                                                    <button class="btn btn-danger"
                                                        (click)="openDialog(p.id, p.title)">Xóa</button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- <h4 class="text-center text-danger">Chưa có dữ liệu</h4> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->




            <!-- ------------------------------ -->
        </div>
    </div>