<div class="main-panel">
    <div class="content-wrapper">
        <!-- ------------------------------ -->


        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">QUẢN SẢN PHẨM</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/admin">Trang chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Danh sách danh mục</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Danh sách sản phẩm</h5> -->
                                <div class="d-flex justify-content-end">

                                    <a class="btn btn-custom text-white bg-primary" routerLink="/ui-components/add-category"> Thêm danh mục</a>
                                </div>

                                <div class="table-responsive">
                                    <table border="1" id="" class="table-product">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên</th>
                                                <th>Hình ảnh</th>

                                                <th>Trạng thái</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let p of list">
                                                <td>
                                                    {{p.id}}
                                                </td>
                                                <td>
                                                    {{p.name}}
                                                </td>
                                                <td>

                                                    <img [src]="p.image" alt="Ảnh danh mục">


                                                </td>
                                                <td *ngIf="p.status == 1">
                                                    Hiện
                                                  </td>
                                                  <td *ngIf="p.status == 0">
                                                    Ẩn
                                                  </td>
                                                  








                                                <td>
                                                    <a routerLink="/ui-components/edit-category"
                                                        class="btn btn-primary ">Sửa</a>
                                                        <button class="btn btn-danger" (click)="openDialog(p.id, p.name)">Xóa</button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- <h4 class="text-center text-danger">Chưa có dữ liệu</h4> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->




            <!-- ------------------------------ -->
        </div>
    </div>